<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="2.14.0" targetFramework="net451" />
  <package id="Accord.Extensions.Core" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Extensions.Imaging.AForgeInterop" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Extensions.Imaging.Algorithms" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Extensions.Imaging.BitmapInterop" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Extensions.Imaging.GenericImage" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Extensions.Math" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Extensions.Statistics" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Extensions.Vision.IO" version="1.1.2-rc" targetFramework="net451" />
  <package id="Accord.Imaging" version="2.14.0" targetFramework="net451" />
  <package id="Accord.MachineLearning" version="2.14.0" targetFramework="net451" />
  <package id="Accord.Math" version="2.14.0" targetFramework="net451" />
  <package id="Accord.Statistics" version="2.14.0" targetFramework="net451" />
  <package id="AForge" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net451" />
</packages>